@import "./normalize-8.0.0.css";

/* reset styles */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Crimson Text", serif;
  /* background-color: #efefef; */
}
