.app__container {
  background: #2c332f;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 504px) {
  .app__container {
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-size: 270vh;
    background-position-x: center;
  }
}
