.set-score__container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 30%;

  font-size: 40px;
  font-weight: 600;
}

.set-score__title {
  text-align: center;
  flex: 1 100%;
}

.set-score__delimiter {
  margin: 0px 30px ;
}