.connection {
  position: absolute;
  padding: 20px;
  top: 3vw;
  right: 23vw;
}

.connection__table-number {
  position: absolute;
  font-size: 50px;
  right: 48px;
  top: 27px;
  color: white;
  font-family: "Crimson Text", serif;
  text-align: center;
  cursor: pointer;
}

@media (min-width: 504px) {
  .connection {
    top: 10px;
    left: 100px;
  }
  .connection__table-number {
    position: relative;
    left: -65px;
    top: -30px;
  }
}

.connection-icon {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  display: inline-block;
  margin-top: 5px;
  margin-right: 5px;
}

.connection-icon__connected {
  background: olive;
}

.connection-icon__disconnected {
  background: salmon;
}
