.connection {
  position: absolute;
  padding: 20px;
  top: 3vw;
  right: 23vw;
}

@media (min-width: 504px) {
  .connection {
    top: 10px;
    left: 100px;
  }
}

.connection-icon {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  display: inline-block;
  margin-top: 5px;
  margin-right: 5px;
}

.connection-icon__connected {
  background: olive;
}

.connection-icon__disconnected {
  background: salmon;
}
