.score-board__container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  flex-direction: row;
  color: #ffffffff;
}

.score-board__set-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

.score-board__set-container-item {
  width: 20vw;
  font-size: 40px;
  margin: 0 10vw;
}

.score-board__set-delimiter {
  font-size: 40px;
}

.score-board__container > button {
  margin: 30px 0;
}
