.set__container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;

  font-size: 40px;
  font-weight: 600;
}

.set__title {
  text-align: center;
  flex: 1 100%;
}

.set__delimiter {
  margin: 0px 30px;
}

.set__score {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background-color: #c4c4c4;

  font-size: 65px;
  color: #383838;
  text-align: center;
}
