.button {
  width: 20vh;
  height: 5.5vh;
  color: var(--prim-font-color);
  font-size: 1.8vh;
  border: none;
  border-radius: 2vh;
  margin: 1.5vh 2vh;
  background: var(--button-color);
}
.button--primary {
  background: var(--button-color);
}
.button--secondary {
  background: var(--button-color);
}
.button:hover {
  background: var(--button-hover-color);
}
.button:focus {
  outline: 0;
}
.button--disabled {
  background: var(--button-disabled-color);
  border: 0.1vh solid var(--grey-out-color);
  color: var(--grey-out-color);
}
.button--disabled:hover {
  background: var(--button-disabled-color);
}
