/**
 * @author William Kistenberger
 * @author Sophia Dietze
 */

.competitionPage__header {
  height: 6vh;
  font-size: 2vh;
  color: var(--tert-out-color);
}

.competitionPage__header-alignment-right {
  height: 10vh;
  font-size: 2vh;
  color: var(--tert-out-color);
  display: flex;
  flex-direction: row;
}

.competitionPage__competition-playmode {
  margin: 2vh 8vh;
  color: var(--grey-out-color);
  font-size: 1.5vh;
}

.competitionPage__competition-startDate {
  margin: 2vh 2vh;
  color: var(--grey-out-color);
  font-size: 1.5vh;
}
.competitionPage__link-ip-adress-statistic {
  text-decoration: underline;
  color: var(--grey-out-color);
  font-size: 2vh;
  border: none;
  margin: 2vh;
  cursor: pointer;
}

.competitionPage__link-ip-adress-statistic:focus {
  outline: 0;
}

.competitionPage__link-ip-adress-statistic:hover {
  color: var(--link-font-hover-color);
}

.competitionPage__round {
  font-size: 2vh;
  margin: 2vh;
  font-weight: bold;
}

.competitionPage__alignment {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.competitionPage__link {
  text-decoration: underline;
  font-size: 2vh;
  border: none;
  color: var(--grey-out-color);
}
.competitionPage__link:focus {
  outline: 0;
}
.competitionPage__link:hover {
  color: var(--link-font-hover-color);
}
.competitionPage__table__score {
  font-weight: bold;
}
.competitionPage__header-logo {
  content: url("../../assets/icons/svg/Logo5.svg");
  width: 20%;
}
.competitionPage__header-logo-alignment {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 1vh 1vh;
  height: 6vh;
}
