.competition__container {
  display: flex;
  justify-content: center;
  margin: 1vh 4vh;
  border-radius: 2vh;
  background: var(--sec-background-color);
}
.competition__container--active {
  background-color: var(--active-compet-color);
}
.competition__btn {
  border: none;
  height: 7vh;
  background: none;
  cursor: pointer;
  box-sizing: border-box;
}

.competition__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.competition__btn--gameload {
  width: 150vh;
  font-size: 2.5vh;
  text-decoration: none;
  color: var(--prim-font-color);
}

.competition__btn--gametype {
  width: 150vh;
  font-size: 2vh;
  text-decoration: none;
}

.competition__btn--delete {
  width: 20vh;
  float: left;
  border-left: 0.01vh solid var(--prim-background-color);
  color: var(--grey-out-color);
  font-size: 1.5vh;
}

.competition__btn--gameload:hover {
  color: var(--grey-out-color);
}

.competition__btn--delete:hover {
  color: var(--prim-font-color);
}

.competition__btn:focus {
  outline: 0;
}

.competition__btn--gameload:active {
  transform: translateY(0.3vh);
}
