body {
  background-color: var(--prim-background-color);
}

.competitionPage__competition-time {
  margin: 2vh 2vh;
}

.competitionPage__table__first-row-style {
  position: relative;
  margin: 2vh 0vh;
  width: 80%;
  border-radius: 2vh;
  background: var(--sec-background-color);
  font-size: 2vh;
  color: var(--prim-font-color);
  display: flex;
  justify-content: space-around;
}

.content {
  position: absolute;
  width: 100;
  height: 100%;
}

.competitionPage__center-table {
  display: flex;
  justify-content: space-around;
}

.competitionPage__table__first-row-alignment {
  position: relative;
  margin: 0.3vh 0vh;
  max-width: 80%;
  border-radius: 2vh;
  background: var(--sec-background-color);
  display: flex;
  font-size: 2vh;
  color: var(--prim-font-color);
  justify-content: space-around;
  align-items: center;
}

.competitionPage__table__column-alignment {
  color: var(--prim-font-color);
  width: 14vh;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.competitionPage__link-ip-adress-statistic {
  text-decoration: underline;
  color: var(--link-font-hover-color);
  font-size: 2vh;
  border: none;
  margin: 2vh;
}

.competitionPage__link-alignment {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.competitionPage__Bottom-Buttons {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.competitionPage__link-ip-adress-statistic:focus {
  outline: 0;
}

.competitionPage__link-ip-adress-statistic:hover {
  color: var(--link-font-hover-color);
}
