/**
 * @author Sophia Dietze
 */
.footer__text {
  margin: 1vh 2vh;
  color: var(--font-color);
  font-size: large;
  text-align: center;
  margin-top: 3vh;
}

.footer__pictureCredits {
  margin: 1vh 2vh;
  color: var(--tert-font-color);
  font-size: 1.5vh;
  text-align: center;
}
