/**
 * @author William Kistenberger
 */
.popupReviewPlayer__header-text {
  margin: 1vh 2vh;
  color: var(--prim-font-color);
  font-size: large;
  text-align: center;
}

.popupReviewPlayer__body-small-text {
  margin-bottom: 1vh;
  color: var(--prim-font-color);
  font-size: medium;
  text-align: left;
}
.popupReviewPlayer__body-smaller-text {
  font-size: small;
  margin-bottom: 1vh;
}

.popupReviewPlayer__centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.popupReviewPlayer__names {
  color: var(--tert-font-color);
}
.popupReviewPlayer__player-List {
  padding: 6vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 2vh;
  background-color: var(--prim-background-color);
  margin-bottom: 1vh;
  margin-top: 1vh;
}
.popupReviewPlayer__extra-margin {
  margin-bottom: 3vh;
}
