/**
 * @author William Kistenberger
 */
.popup__header--text {
  margin: 1vh 2vh;
  margin-bottom: 0vh;
  color: var(--prim-font-color);
  font-size: 3vh;
  display: flex;
}
.popup__header--center {
  width: 60vh;
  display: flex;
  justify-content: center;
  height: 5vh;
}

.popup__body--small-text {
  margin: 1vh 2vh;
  margin-bottom: 3vh;
}

.popup__body--button {
  display: flex;
  justify-content: center;
}
