.popupEditTable__header--text {
  margin: 1vh 2vh;
  margin-bottom: 0vh;
  color: var(--prim-font-color);
  font-size: 3vh;
  display: flex;
}
.popupEditTable__header--center {
  width: 60vh;
  display: flex;
  justify-content: center;
  height: 5vh;
}
.popupEditTable__body--button {
  width: 60vh;
  display: flex;
  justify-content: center;
}
.popupEditTable--columns {
  display: flex;
  flex-direction: column;
}
.popupEditTable--rows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--prim-background-color);
  border-radius: 1vh;
  margin: 1vh;
  height: 5vh;
}
.popupEditTable--input {
  border: 0.1vh solid var(--error-color);
}
input {
  width: 45px;
  height: 25px;
}
