.statisticTable__table-header {
  display: grid;
  grid-template-columns: 10% 30% 20% 20% 10% 10% 10%;
  grid-auto-rows: minmax(4vh, auto);
  padding: 2vh;
  text-align: center;
  align-items: center;
  background-color: var(--table-header-background-color);
  font-weight: 700;
}

.statisticTable__table-body {
  display: grid;
  grid-template-columns: 10% 30% 20% 20% 10% 10% 10%;
  grid-auto-rows: minmax(4vh, auto);
  padding: 1vh;
  text-align: center;
  align-items: center;
  border-bottom: 0.1vh solid var(--shadow-color);
}

.statisticTable__ranking {
  grid-row: 1/3;
  border-right: 0.1vh solid var(--shadow-color);
  padding: 2vh;
  font-size: 2.5vh;
  font-weight: 200;
}

.statisticTable__bottom-row {
  grid-column: 2/7;
  display: grid;
  grid-template-columns: repeat(6, 20%);
  border-top: 0.1vh solid var(--shadow-color);
  padding: 1vh;
}

.statisticTable__seperation-color:nth-child(odd) {
  background-color: var(--table-background-color);
}

.statisticTable__name {
  font-weight: 700;
}
