body {
  background-color: var(--prim-background-color);
}

.competitionPage__link-back-to-overview {
  display: none;
}

.containerHeader {
  display: grid;
  /* grid-template-columns: repeat(7, 1fr); */
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(50px, auto);
  padding: 1em;
  text-align: center;
  align-items: center;
  background-color: var(--link-font-hover-color);
  border-bottom: 1px solid var(--grey-out-color);
  font-weight: 700;
}

.containerBody {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: (minmax(100px, auto));
  align-items: center;
  text-align: center;
  padding: 1em;
  border-bottom: 1px solid var(--grey-out-color);
  justify-items: stretch;
  /* align-items: stretch; */
}

.ranking {
  grid-row: 1/3;
}

.topRow {
  grid-column: 2/7;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid var(--grey-out-color);
  border-left: 1px solid var(--grey-out-color);
}

.bottomRow {
  grid-column: 2/7;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-left: 1px solid var(--grey-out-color);
}

.containerBody:nth-child(odd) {
  background-color: var(--anti-color);
}
