.h3{
  padding: 10vh;
  margin: 3vh;
}

body{
  background-color: #F4F4F4;
}

.ausrichtungcheck{
  display: flex;
  justify-content: center;
  margin: 1vh 4vh;
  border-radius: 2vh;
  background: white;
}

.button-game {
  border: none;
  width: 150vh;
  height: 7vh;
  background: none;
  font-size: 3vh;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
}

.button-delete {
  width: 20vh;
  height: 7vh;
  
  float: left;
  border: none;
  background: none;
  border-left: 0.01vh solid #F4F4F4;
  color: #4D4D4D;
  font-size: 1.5vh;
  cursor: pointer;
  box-sizing: border-box;
  
}

.button-game:hover {
  color: #4D4D4D;
}
.button-delete:hover {
  color:  black;
}

.button-game:focus {
  outline: 0;
}
.button-delete:focus {
  outline: 0;
}
.button-game:active {
  transform: translateY(0.3vh);
}

.server-running {
  background: var(--anti-color);
}
.server-running:hover {
  color: var(--anti-color);
  background-color: white;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}


