h2 {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ausrichtungcheck{
  display: flex;
  justify-content: center;
}


.button-game {
  width: 150vh;
  height: 7vh;
  background: white;
  border: 1px solid black;  
  font-size: 3vh;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: flex-end;  
  margin: 1vh 0vh;
}

.button-delete {
  width: 20vh;
  height: 7vh;
  background: white;
  border: 1px solid black;  
  font-size: 2vh;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  margin: 1vh 0vh;
}

.list-background{
  background: white;
  color: black;
  padding: 1vh 1vh;
  text-align: center;
  display: block;
  margin: 20px auto;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 5px #666;
  box-sizing: border-box;

}

.button:hover {
  color: var(--main-color);
  background-color: white;
}

.button:focus {
  outline: 0;
}
.button:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.server-running {
  background: var(--anti-color);
}

.server-running:hover {
  color: var(--anti-color);
  background-color: white;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}