.login__container {
  color: green;
}
/* .login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}



.login__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.login__select {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  margin: 20px;
}

select,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last: center;
}

.login__button {
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.login__text {
  font-size: 32px;
  display: block;
  flex-basis: 100%;
  text-align: center;
}

break {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
} */
