.login__container {
  /* background-color: #49bcb3; */
  background-color: #49bcb3;
  border-radius: 100%;
  height: 75vh;
  width: 75vh;
  position: absolute;
  top: 28%;
}

@media (min-width: 504px) {
  .login__container {
    height: 53vh;
    width: 53vh;
  }
}

.login__text {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: white;
  position: relative;
  left: 240px;
  top: 200px;
}

@media (min-width: 504px) {
  .login__text {
    top: 113px;
    left: 130px;
  }
}

.login__select {
  position: relative;
  /* left: -20px; */
  left: 70px;
  top: 300px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last: center;
  width: 80px;
  height: 80px;
  border-radius: 20%;
  font-size: 40px;
}

@media (min-width: 504px) {
  .login__select {
    left: -40px;
    top: 23vh;
  }
}

/* .login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}



.login__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.login__select {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  margin: 20px;
}

select,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last: center;
}

.login__button {
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.login__text {
  font-size: 32px;
  display: block;
  flex-basis: 100%;
  text-align: center;
}

break {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
} */
