.player-score__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 45px;
}

.player-score__score {
  width: 120px;
  height: 120px;
  border-radius: 20px;
  background-color: #ffffff;

  font-size: 100px;
  color: #383838;
  text-align: center;
}
