.app__container {
  background-color: var(--prim-background-color);
}

.server-running {
  background: var(--anti-color);
}

.server-running:hover {
  color: var(--anti-color);
  background-color: var(--sec-background-color);
}
