.app__container {
  background-color: #f4f4f4;
}

.header-box-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.container-box {
  width: 35vh;
  height: 50vh;
  border: none;
  background: white;
  color: #4d4d4d;
  font-size: 2.5vh;
  border-radius: 2vh;
  margin: 10vh 4vh;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-upload-xml {
  width: 27vh;
  height: 20vh;
  color: #4d4d4d;
  font-size: 2vh;
  border: 0.3vh solid #f4f4f4;
  background: white;
  top: 60px;
  border-radius: 2vh;
  margin: 5vh 0vh;
  padding: 2vh;
}

.hero-size {
  height: 70vh;
  background-image: url("../assets/header_background.jpg");
  background-color: #84afce;
}

.title-header {
  margin: 20vh 10vh;
  font-size: 6vh;
  color: white;
  justify-content: center;
}

.popup__header-text {
  margin: 1vh 2vh;
  color: black;
  font-size: large;
  text-align: center;
}
.popup__body-small-text {
  margin: 1vh 2vh;
  color: black;
  font-size: medium;
  text-align: left;
}

.button-upload:hover {
  color: #4d4d4d;
}

.button-upload:focus {
  outline: 0;
}

.button-upload-xml:hover {
  color: black;
  border: 0.1vh solid #4d4d4d;
}

.button-upload-xml:focus {
  outline: 0;
}

.server-running {
  background: var(--anti-color);
}
.server-running:hover {
  color: var(--anti-color);
  background-color: white;
}
